body {
  font-family: 'PingFang SC', 'Microsoft YaHei', 微软雅黑, STXihei, 华文细黑, sans-serif;
}

.container-fluid {
  padding: 0px;
}

.bless-form {
  width: 90%;
  max-width: 860px;
  margin: 0px auto;
}
